@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


 html {
  color-scheme: only light !important;
  forced-color-adjust: none !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
header, nav, .navbar {
  position: fixed !important;
  z-index: 999999 !important;
  pointer-events: auto !important;
}

.hero, section, div {
  pointer-events: auto;
}


